* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #E7D4B5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.about-container {
  padding: 20px;
  text-align: center;
  background-color: #F6E6CB;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  max-width: 1000px;
  margin: 40px auto;
}

.about-container h2 {
  color: #A0937D;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.card h3 {
  color: #A0937D;
  margin-bottom: 10px;
}

.card p {
  color: #333;
  font-size: 1em;
}

@media (min-width: 600px) {
  .cards-container {
    flex-direction: row;
  }

  .card {
    flex: 1;
    margin: 0 10
  }
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* Example styling */
  margin-bottom: 1rem;
}