/* AdminLogin.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E7D4B5;
    /* Light beige background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.admin-login-container {
    background-color: #F6E6CB;
    /* Very light cream background */
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 500px; /* Increased width */
    max-width: 90%;
    padding: 40px; /* Increased padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 15px; /* Increased margin */
    font-size: 28px; /* Increased font size */
    color: #A0937D;
}

span {
    display: block;
    margin-bottom: 20px;
    color: #A0937D;
}

input {
    background-color: #EEE;
    border: none;
    margin: 12px 0; /* Increased margin */
    padding: 12px 15px; /* Increased padding */
    font-size: 16px; /* Increased font size */
    border-radius: 8px;
    width: 100%;
    outline: none;
}

button {
    background-color: #A0937D;
    color: #fff;
    font-size: 14px; /* Increased font size */
    padding: 12px 20px; /* Adjusted padding */
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px; /* Increased margin-top */
    cursor: pointer;
}

button:hover {
    background-color: #8a7e6f;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 15px; /* Increased margin */
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #A0937D;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
