body {
    background-color: #f6e6cb;
}

.auction-items-container {
    padding: 2rem;
    background-color: #f6e6cb;
    color: #a0937d;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    height: 600px;
    overflow-y: scroll;
    border-radius: 30px;
    margin-bottom: 30px;
}

.category-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply the pulse effect to all buttons */
.category-button,
.subcategory-button {
    padding: 10px 20px;
    border: none;
    background-color: #b6c7aa;
    color: #a0937d;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: pulse 1.5s infinite; /* Adjust duration as needed */
}

.category-button:hover,
.subcategory-button:hover {
    background-color: #e7d4b5; /* Change background on hover */
    animation: none; /* Disable pulse effect when hovered */
}

.category-button.active,
.subcategory-button.active {
    background-color: #a0937d; /* Active button background color */
    color: #f6e6cb; /* Active button text color */
    font-weight: bold; /* Bold text for active button */
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: #a0937d;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.item-card {
    background-color: #f6e6cb;
    color: #a0937d;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    width: 250px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 1.5rem;
}

.item-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.item-card h3,
.item-card p {
    margin: 0.5rem 0;
}

.item-card p {
    font-size: 1rem;
}

.message {
    color: red;
    font-weight: bold;
}

@media (max-width: 768px) {
    .item-card {
        width: 100%;
    }
}

.subcategory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the subcategory buttons */
    justify-content: center;
}

.subcategory-button {
    padding: 10px 15px;
    border: none;
    background-color: #b6c7aa; /* Match category button background */
    color: #a0937d; /* Match text color */
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for background color */
    border-radius: 5px; /* Rounded corners */
}

.subcategory-button.active {
    background-color: #a0937d; /* Active button background color */
    color: #f6e6cb; /* Active button text color */
    font-weight: bold; /* Bold text for active button */
}