html,
body {
    height: 100%;
    margin: 0;
}

.contact-container {
    padding: 2rem;
    background-color: #F1E3D3;
    /* Light cream background for vintage feel */
    color: #5A4D3A;
    /* Dark brown text color */
    min-height: calc(100vh - 4rem);
    /* Adjust to ensure it fits the viewport height with padding */
    box-sizing: border-box;
    border-radius: 50px;
    /* Increased border radius for softer edges */
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form,
.contact-info {
    flex: 1;
    margin: 1rem;
}

.contact-form h2,
.contact-info h2 {
    color: #5A4D3A;
    /* Dark brown heading color */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #7C6B5F;
    /* Soft brown label color */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #C3B49A;
    /* Muted beige border color */
    border-radius: 8px;
    /* Softer border radius */
    box-sizing: border-box;
    background-color: #FFF5E1;
    /* Dark beige background for inputs */
    color: #5A4D3A;
    /* Dark brown text color */
    font-family: 'Arial', sans-serif;
    /* Font family for inputs */
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group input:active,
.form-group textarea:active,
.form-group input::placeholder,
.form-group textarea::placeholder {
    background-color: #FFF5E1;
    /* Ensure the background color remains dark beige */
    border-color: #A0937D;
    /* Dark beige border color on focus */
    outline: none;
}

.submit-btn1 {
    background-color: #5A4D3A;
    /* Dark brown button color */
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    /* Softer border radius */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-btn1:hover {
    background-color: #7C6B5F;
    /* Soft brown hover color */
}

.feedback-message {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
}

.contact-headers {
    font-weight: bold;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .contact-form,
    .contact-info {
        margin: 0;
    }
}

.contact-section {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    color: #5A4D3A;
    /* Dark brown text color */
}

.section1 {
    background-color: #A0937D;
    /* Color 1 */
}

.section2 {
    background-color: #E7D4B5;
    /* Color 2 */
}

.section3 {
    background-color: #9bac8f;
    /* Same color as section4 */
}

.section4 {
    background-color: #9bac8f;
    /* Color 4 */
}