@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather&display=swap');

/* Vibrant Colors */
:root {
    --vibrant-dark: #FF6F61;
    --vibrant-medium: #FFB400;
    --vibrant-accent: #4CAF50;
    --vibrant-text: #333;
}

body {
    font-family: 'Merriweather', serif;
    color: var(--vibrant-text);
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-form {
    background: var(--vibrant-medium);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.forgot-password-form h1 {
    margin-bottom: 20px;
    color: var(--vibrant-dark);
    font-size: 24px;
    animation: slideIn 0.7s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--vibrant-dark);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--vibrant-light);
    color: var(--vibrant-text);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input-field:focus {
    background-color: #FFF8E1;
    border-color: var(--vibrant-accent);
}

.forgot-password-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--vibrant-dark);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.forgot-password-button:hover {
    background-color: var(--vibrant-accent);
    transform: translateY(-3px);
}

.error-message {
    color: #E53935;
    margin-top: 20px;
    animation: shake 0.3s ease;
}

.success-message {
    color: #43A047;
    font-size: 1rem;
    margin-top: 1rem;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}