.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #a0b8a0;
  /* Dark beige background color with slight transparency */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #7a6a4f;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar ul li a:hover {
  color: #fff;
  background-color: #473207;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #836e4a;
  position: relative;
}

.nav-link:hover {
  color: #645130;
}

.nav-link::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #A0937D;
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link.logout-button {
  background-color: #473207;
  color: #a0b8a0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
  font-weight: 600;
  font-size: 14px;
}