.dashboard-container {
    background-color: #F6E6CB;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 20px 40px;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    font-size: 28px;
    color: #A0937D;
}

.add-item-section,
.items-list-section {
    margin-bottom: 20px;
}

.add-item-section h2,
.items-list-section h2 {
    font-size: 22px;
    color: #A0937D;
 
}

form {
    background-color: #F6E6CB;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input {
    background-color: #EEE;
    color: #333;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

button {
    background-color: #A0937D;
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8c7b5a;
  
}

.items-list-section ul {
    list-style: none;
    padding: 0;
}

.items-list-section li {
    background-color: #F6E6CB;

    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.items-list-section li h3 {
    margin: 0;
    font-size: 18px;
    color: #A0937D;
    
}

.items-list-section li p {
    margin: 5px 0;
    color: #333;
    
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}




.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin-top: 20px; 
}

.item-card {
    background: #FFFFFF; 
    border: 1px solid #ddd; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: calc(33% - 20px); 
    padding: 15px; 
    box-sizing: border-box; 
}

.item-card img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.item-details {
    margin-top: 10px; 
}

.item-details h3 {
    margin: 0; 
    font-size: 20px; 
    color: #A0937D; 
}

.item-details p {
    margin: 5px 0; 
    color: #333; 
}

.item-actions {
    margin-top: 10px; 
}

.item-actions button {
    background-color: #A0937D; 
    color: #fff; 
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 5px; 
    cursor: pointer;
}

.item-actions button:hover {
    background-color: #8c7b5a;
}
.item-actions button:first-of-type {
    background-color: #4CAF50; 
}

.item-actions button:first-of-type:hover {
    background-color: #45a049; 
}

.item-actions button:last-of-type {
    background-color: #f44336;
}

.item-actions button:last-of-type:hover {
    background-color: #da190b; 
}